@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  @apply text-neutral-400 rounded-md px-3 py-2 text-sm font-medium;
}

.nav-link:active,.nav-link:hover,.nav-link:focus {
  @apply bg-neutral-900 text-white rounded-md px-3 py-2 text-sm font-medium;
}

.kbutton {
  @apply bg-green-950 rounded p-2 text-neutral-400 font-semibold cursor-pointer;
}

input {
  @apply text-black;
}

/* For the user menu in the navbar. */
/* Initial state (hidden) */
.menu-hidden {
  transform: scale(0.95);
  opacity: 0;
  transition: transform ease-out 0.1s, opacity ease-out 0.1s;
  pointer-events: none;
}

/* Final state (shown) */
.menu-shown {
  transform: scale(1);
  opacity: 1;
  transition: transform ease-in 0.075s, opacity ease-in 0.075s;
  pointer-events: auto;
}