@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  @apply text-neutral-400 rounded-md px-3 py-2 text-sm font-medium;
}

.nav-link:active,.nav-link:hover,.nav-link:focus {
  @apply bg-neutral-900 text-white rounded-md px-3 py-2 text-sm font-medium;
}

.kbutton {
  @apply bg-green-950 rounded p-2 text-neutral-400 font-semibold cursor-pointer disabled:bg-green-200 disabled:cursor-not-allowed;
}

input {
  @apply text-black;
}

/* For the user menu in the navbar. */
/* Hidden state for the user menu in the navbar. */
.menu-hidden {
  transform: scale(0.95);
  opacity: 0;
  transition: transform ease-out 0.1s, opacity ease-out 0.1s;
  pointer-events: none;
}

/* Shown state for the user menu in the navbar. */
.menu-shown {
  transform: scale(1);
  opacity: 1;
  transition: transform ease-in 0.075s, opacity ease-in 0.075s;
  pointer-events: auto;
}

/* Wrapper for password fields in Devise views. */
.password-wrapper {
  position: relative;
}

/* The class that handles the positioning of the password eyeball icons used to show/hide password field contents on Devise pages. */
.password-icon {
  position: absolute;
  top: 50%;
  right: 40px;
  cursor: pointer;
}